{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<div class="registration">
  <div class="container card user-signup">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h2 class="text-center">{% trans "Sign Up" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-grid gap-2">
          <button class="btn btn-danger" type="submit">{% trans "Sign Up" %}</button>
          </div>
          <div class="form-text my-3">
            <p>{% blocktrans %}Already have an account? Please <a  class="text-danger" href="{{ login_url }}">Sign in</a>.{% endblocktrans %}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
