@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');


/* Table of content
----------------------------
1. GENERAL STYLE
    1.1 General
    1.2 Input form
    1.3 Button
2. BASE 
    2.1 Navbar & Canvas
    2.2 Contact Section
        2.2.1 contacts
        2.2.2 social-network
3. INDEX
    3.1 Hero
    3.2 Features
    3.3 About
    

*/


/*  ***********
    GENERAL STYLE
    *********** */
/*-----------General--------------*/

body{
    font-family: 'Poppins', sans-serif;
    color: rgb(215, 227, 227);
} 

h2{
    text-transform: uppercase;
    color: rgb(24, 36, 36);
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: #dc3545;
}

.social-networks a:hover,
.contact-copywrite a:hover,
.yabash-features i,
.contact-remote i,
.testimonial-content i{
    color: rgb(220, 53, 69,75%);
}

/*-----------Input form--------------*/
.card{
    border-radius: 0;
    border-color: rgb(215, 227, 227);
}

.registration{
    position: relative;
    height: 100vh;
    background-color:  rgb(215, 227, 227);
}

input{
    border: 0;
    color:rgb(24, 36, 36);
    background-color:  transparent;
    border-bottom: 1px solid rgba(24, 36, 36, 0.2);
}

input:focus-visible {
    outline: none;
}

.user-login,
.user-signup{
    position: absolute;
    inset: 0;
    margin: auto;
    height: fit-content;
    width: 60%;
    color:rgb(24, 36, 36);
    background-color:  rgb(215, 227, 227);
    box-shadow: -2px 2px 3px 2px rgba(24, 36, 36, 0.2);;
}

label{
    color:rgb(24, 36, 36);
}

.form-control{
    color:rgb(24, 36, 36);
    border-radius: 0;
}

.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(220, 53, 69,75%);
    border-color: #dc3545;
}

.form-control:focus-visible{
    outline: none;
}

.form-select:focus{
    box-shadow: 0 0 0 0.25rem rgb(220, 53, 69,75%);
    border-color: #dc3545;
}

/*----------Button--------------*/

.btn-close:focus{
    box-shadow: none;
}

.btn-secondary{
    background-color: rgb(215, 227, 227);
    color:rgb(24, 36, 36);
}

button{
    border-width: 0;
}

.btn{
    border-radius: 0;
    border: 0;
    color: rgb(215, 227, 227);
}

/*  ***********
    BASE
    *********** */
/*-----------Navbar & Canvas--------------*/

.navbar{
    background-color: rgba(0,0,0,0.1);
    --bs-navbar-toggler-focus-width: 0;
}

.nav-link{
    color:rgb(215, 227, 227);
}

.offcanvas-header, .offcanvas-body{
    background-color: rgb(24, 36, 36);
}

.navbar-brand:hover{
    color:rgb(24, 36, 36);
}

.navbar-toggler{
    border: 0;
}

.offcanvas-body a:hover{
    color:rgb(215, 227, 227);
    background-color: #dc3545;
    text-align: center;
}

/*-----------Contacts--------------*/
#map{
    min-height: 300px;
}

#contact{
    position: relative;
    background-color:  rgb(24, 36, 36, 0.9);
    min-height: 30vh;
}

#contact h3{
    font-size: 1.1rem;
    text-decoration: underline;
}

#contact p,
#contact span,
#contact th,
#contact td{
    font-size: 0.8rem;
}


.contact-details{
    color:rgb(215, 227, 227);
}

.contact-copywrite{
    font-size: 0.8rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color:rgb(24, 36, 36);
}

/*-----------social-networks--------------*/
.social-networks>ul{
    display: flex;
    justify-content: center;
}

.social-networks li{
    list-style: none;
}

.social-networks a{
    text-decoration: none;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 800;
    color:rgb(215, 227, 227);
}

.social-networks h3{
    margin-top: 2rem;
}


/*  ***********
    INDEX
    *********** */

/*-----------Hero--------------*/

.hero-1{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-1-c.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-2{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-2-c.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-3{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.5), rgba(0, 0, 0, 0.5)), url(../images/restaurant-3-c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.head-text{
    text-transform: capitalize;
    color: rgb(215, 227, 227);
    font-size: calc(2rem + 1vw);
}

.hero-text{
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.herobottom-info{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.info{
    margin: 0px;
}

/*-----------Features--------------*/
.yabash-features{
    background-color:rgb(24, 36, 36, 0.9);
    min-height: 20vh;
}

.yabash-features h2{
    font-size: 1.5rem;
    color:rgb(215, 227, 227);
}

.feature-title{
    font-size: 1.2rem;
    color: rgb(215, 227, 227);
    text-transform: uppercase;
}

/*-----------Testimonials--------------*/
#testimonial{
    color: rgb(24, 36, 36);
}

.testimonial-head{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-summary{
    font-size: calc(0.6rem + 1vw);
    font-weight: 400;
}

.testimonial-content{
    position: relative;
    font-size: calc(0.3rem + 1vw);
}

.fa-quote-left{
    position: absolute;
    left:2%;
}

.user-quote{
    padding: 1rem;
    box-shadow: 2px 2px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

/*-----------About---------------*/

#about-yabash{
    color:rgb(24, 36, 36);
    min-height: 30vh;
    background-color:#D9D9D9 ;
}

.about-head,
.kitchen-image {
    display: flex;
    justify-content: center;
}

.kitchen-image img:hover{
    box-shadow: 30px -10px rgb(24, 36, 36);
}
