{% extends "base.html" %}


{% block content %}

{% load crispy_forms_tags %}
{% load static %}

<div class="booking-registration reg" style="background-image:linear-gradient(rgba(89, 89, 89, 0.3), rgba(0, 0, 0, 0.3)), url('{% static "images/register-c.jpg" %}');">
    <div class="container card booking-data">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <h2 class="text-center">MAKE A RESERVATION</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form  method="POST" action="{% url 'bookingPage' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid gap-2">
                <button class="btn btn-danger" type="submit">Reserve Table</button>
            </div>
            <div class="row">
                <div class="col-12">
                  <div class="my-2 text-danger">Important!!!</div>
                  <small class="text-muted">
                    Please inform us at the latest 30 minutes before the start of your reserved time of any cancellation or in the case you may be running later than 15 minutes after your reservation time.
                  </small>
                  <small class="text-muted">Thank you for your Understanding.</small>
                </div>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}