{% extends "base.html" %}
{% block content %}
<div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <header class="hero-1 d-block w-100">
            <!-- Hero -->
          <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>first page</p>
                </div>
            </div>
          </div>
            <!--/. Hero -->
        </header>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <header class="hero-2 d-block w-100">
            <!-- Hero -->
          <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>second</p>
                </div>
            </div>
          </div>
          <!--/. Hero -->
        </header>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <header class="hero-3 d-block w-100">
            <!-- Hero -->
          <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>third</p>
                </div>
            </div>
          </div>
          <!--/. Hero -->
        </header>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}