{% extends "base.html" %}
{% block content %}
<!-- Hero -->
<div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <header class="hero-1 d-block w-100">
            <!-- First Hero Content -->
          <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="container text-center hero-text">
                        <h2 class="head-text">
                          Taste the Genuineness in African Cuisine
                        </h2>
                        <p class="lead">
                          Take a break today, and enjoy the best delicacies Nigerian
                          kitchen offers by booking a table at our Restaurant.
                        </p>
                    </section>
                </div>
            </div>
            <!--Herobottom-info-->
            <div class="herobottom-info">
                <div class="row">
                <div class="col-12">
                    <p class="info text-muted">
                    <small
                        ><b
                        >Opening times
                        <i class="fa-solid fa-arrow-right-long"></i></b
                        ><span class="d-inline">
                        Mon-Sun : 08:00 - 23:00</span
                        ></small
                    >
                    </p>
                </div>
                </div>
            </div>
            <!--/.Herobottom-info-->
          </div>
            <!--/. First Hero Content -->
        </header>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <header class="hero-2 d-block w-100">
            <!-- Second Hero Content -->
          <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="container text-center hero-text">
                        <h2 class="head-text">
                          Testimonial
                        </h2>
                        <p class="lead">
                          What our Customers have to Say about Us.
                        </p>
                    </section>
                </div>
            </div>
            <!--Herobottom-info-->
            <div class="herobottom-info">
                <div class="row">
                <div class="col-12">
                    <p class="info text-muted">
                    <small
                        ><b
                        >Opening times
                        <i class="fa-solid fa-arrow-right-long"></i></b
                        ><span class="d-inline">
                        Mon-Sun : 08:00 - 23:00</span
                        ></small
                    >
                    </p>
                </div>
                </div>
            </div>
            <!--/.Herobottom-info-->
          </div>
          <!--/. Second Hero Content -->
        </header>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <header class="hero-3 d-block w-100">
            <!-- Third Hero Content-->
          <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="container text-center hero-text">
                        <h2 class="head-text">
                          The Story
                        </h2>
                        <p class="lead">
                          Learn about the foundation of yabash and her goals.
                        </p>
                    </section>
                </div>
            </div>
            <!--Herobottom-info-->
            <div class="herobottom-info">
                <div class="row">
                <div class="col-12">
                    <p class="info text-muted">
                    <small
                        ><b
                        >Opening times
                        <i class="fa-solid fa-arrow-right-long"></i></b
                        ><span class="d-inline">
                        Mon-Sun : 08:00 - 23:00</span
                        ></small
                    >
                    </p>
                </div>
                </div>
            </div>
            <!--/.Herobottom-info-->
          </div>
          <!--/.Third Hero Content -->
        </header>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--/. Hero -->
  <main>
  <!-- Features-->
  <div class="yabash-features">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 my-4">
          <div class="feature-title"><i class="fa-solid fa-headset"></i> Service</div>
          <p>
            Our Customer service is one of a kind. We are available 24/7
            to answer your concerns and provide you with the
            best quality service.
          </p>
        </div>
        <div class="col-12 col-md-4 my-4">
          <div class="feature-title"><i class="fa-solid fa-city"></i> Location</div>
          <p>
            Yabash is located right at the center of Berlin for the
            convenience of our customers far and near. The Restaurant has been carefully designed
            to suit the purpose of her existence.
          </p>
        </div>
        <div class="col-12 col-md-4 my-4">
          <div class="feature-title"><i class="fa-solid fa-heart"></i> Belief</div>
          <p>
            In our heart Food is a culture that connects people.
            So, we have created a welcoming atmosphere for you, and
            serve you meals made with a share of our love.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--/. Features-->
  </main>
{% endblock %}